﻿a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}
.page-min-height {
    min-height: 950px; 
}
.register-header h2 {
    font-size: 40px;
}
.register-panel {
    margin-top: 150px;
}
.login-page{
    margin-top: 100px;
}
.logo-name{
    color: #1ab394 !important;
}
.chat-message-form {
    margin-left: -30px;
}
.message-input{
    background-color: #e9e8ab !important;
}