﻿<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox chat-view">
                <div class="ibox-title">
                    <small class="pull-right text-muted">Last message: Mon Jan 26 2015 - 18:39:23</small>
                    Chat room panel
                </div>

                <div class="ibox-content ">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="chat-users">
                                <div class="users-list">
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="../../assets/img/a4.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Karl Jordan</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="../../assets/img/a1.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Monica Smith</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <span class="pull-right label label-primary">Online</span>
                                        <img class="chat-avatar" src="../../assets/img/a2.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Michael Smith</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <span class="pull-right label label-primary">Online</span>
                                        <img class="chat-avatar" src="../../assets/img/a3.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Janet Smith</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="../../assets/img/a5.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Alice Smith</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="../../assets/img/a6.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Monica Cale</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="../../assets/img/a2.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Mark Jordan</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <span class="pull-right label label-primary">Online</span>
                                        <img class="chat-avatar" src="../../assets/img/a3.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Janet Smith</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 ">
                            <div class="chat-discussion">
                                <div *ngFor = "let message of Messages" class="chat-message " [ngClass]="currentUser.user === message.user ? 'left' : 'right'">
                                    <img class="message-avatar" src="../../assets/img/a1.jpg" alt="">
                                    <div class="message">
                                        <a class="message-author" href="#"> {{message.user}} </a>
                                        <span class="message-date"> {{message.time}} </span>
                                        <span class="message-content">
                                            {{message.message}}
                                        </span>
                                    </div>
                                </div>
   
                            </div>
                            <div class="chat-message-form">
                                <div class="form-group" style="display:inline-table">
                                    <input [(ngModel)]="message" type="text" class="form-control message-input" name="message" placeholder="Enter message text" />
                                    <span class="input-group-btn">
                                        <button (click)="sendMessage()" type="button" class="btn btn-primary" style="font-size:52px"><i class ="fa fa-paper-plane"></i>
                                        </button>
                                    </span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>