﻿<div class="container ">
    <div class="col-sm-8 col-sm-offset-2 login-page">
        <div class="page-min-height">
            <div class="gray-bg">
                <div class="middle-box text-center loginscreen animated fadeInDown">
                    <div>
                        <div>

                            <h1 class="logo-name"><i class="fa fa-users"></i></h1>

                        </div>
                        <h3>Welcome to CHAT APP</h3>
                        
                        <form class="m-t" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate >
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }" >
                                <input type="email" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" placeholder="Username" required="">
                                <span *ngIf="f.submitted && !username.valid" ></span>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': f.submitted && !password.valid}" >
                                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Password" required="">
                                <span *ngIf="f.submitted && !password.valid"></span>
                            </div>
                            <button [disabled]="loading" class="btn btn-primary block full-width m-b">Login</button>

                            <!-- <a href="#"><small>Forgot password?</small></a> -->
                            <p class="text-muted text-center"><small>Do not have an account?</small></p>
                            <a [routerLink]="['/register']" class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>
                            <br><br>
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>